### IMPORT LIBRARY

In [22]:
import pandas as pd

### IMPORT DATASET

In [23]:
data = pd.read_excel("Data_TBC_Jatim_2015-2022.xlsx")
pd.DataFrame(data)
data

,No Peserta,No Keluarga,Bobot,ID Kunjungan FKTP,Tgl Datang FKTP,Tgl Pulang FKTP,Prov FKTP,Kab/Kota FKTP,Kepemilikan FKTP,Jenis FKTP,...,Kab/Kota Tempat Tinggal Peserta,Kepemilikan Faskes,Jenis Faskes,Prov Fasilitas Kesehatan Peserta Terdaftar,Kab/Kota Fasilitas Kesehatan Peserta Terdaftar,Tahun Sampel,Status Kepesertaan,Tahun Meninggal,Umur Peserta,Kategori Umur
0,9562,75926204,1.282789,337170522P001550,2022-05-24,2022-05-24,35,3508,3,1,...,3508,3,1,35,3508,2022,1,NaN,11,1
1,9562,75926204,1.282789,337170822P001193,2022-08-03,2022-08-03,35,3508,3,1,...,3508,3,1,35,3508,2022,1,NaN,11,1
2,9562,75926204,1.282789,2141424288,2022-12-22,2022-12-22,35,3508,3,1,...,3508,3,1,35,3508,2022,1,NaN,11,1
3,18478,18478,16.200649,32940922P000434,2022-09-26,2022-09-26,35,3529,4,2,...,3529,4,2,35,3529,2022,1,NaN,45,3
4,18478,18478,16.200649,32941022P000170,2022-10-07,2022-10-07,35,3529,4,2,...,3529,4,2,35,3529,2022,1,NaN,45,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19127,478953103,478953103,0.965867,264081222Y002282,2022-12-20,2022-12-20,35,3514,3,1,...,3510,3,1,35,3514,2022,1,NaN,3,1
19128,479030846,479030846,14.088050,386351222Y010521,2022-12-30,2022-12-30,35,3578,3,1,...,3578,3,1,35,3578,2022,1,NaN,58,4
19129,479030846,479030846,14.088050,386351222Y010570,2022-12-31,2022-12-31,35,3578,3,1,...,3578,3,1,35,3578,2022,1,NaN,58,4
19130,479049747,479096611,1.140236,88301222P000371,2022-12-26,2022-12-26,35,3526,3,1,...,3526,3,1,35,3526,2022,1,NaN,6,1
19131,479306579,479306579,49.265060,339191222P001245,2022-12-29,2023-01-01,35,3527,3,1,...,3527,3,1,35,3527,2022,1,NaN,63,4

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19132 entries, 0 to 19131
Data columns (total 44 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   No Peserta                                      19132 non-null  int64
 1   No Keluarga                                     19132 non-null  int64
 2   Bobot                                           19132 non-null  float64
 3   ID Kunjungan FKTP                               19132 non-null  object
 4   Tgl Datang FKTP                                 19132 non-null  datetime64[ns]
 5   Tgl Pulang FKTP                                 19132 non-null  datetime64[ns]
 6   Prov FKTP                                       19132 non-null  int64
 7   Kab/Kota FKTP                                   19132 non-null  int64
 8   Kepemilikan FKTP                                19132 non-null  int64
 9   Jenis FKTP                                      19132 non-null  int64
 10  Tipe FKTP                                       19132 non-null  int64
 11  Tingkat Pelayanan FKTP                          19132 non-null  int64
 12  Jenis Poli FKTP                                 19132 non-null  int64
 13  Segmen Peserta FKTP                             19132 non-null  int64
 14  Status Pulang Peserta                           19132 non-null  int64
 15  Kode dan Nama Diagnosis ICD 10 (3 digit)        19132 non-null  int64
 16  Kode Diagnosis ICD 10 (3 digit)                 16680 non-null  object
 17  Segmen ICD 10                                   16680 non-null  float64
 18  Kode Diagnosis (beragam 3-5 digit)              19132 non-null  object
 19  Nama Diagnosis Berasal dari Kode Diagnosis      19132 non-null  object
 20  Prov Faskes Rujukan                             19132 non-null  int64
 21  Kab/Kota Faskes Rujukan                         19132 non-null  int64
 22  Kepemilikan Faskes Rujukan                      19132 non-null  int64
 23  Jenis Faskes Rujukan                            19132 non-null  int64
 24  Tipe Faskes Rujukan                             19132 non-null  int64
 25  Poli Faskes Rujukan                             19132 non-null  int64
 26  Jenis Kunjungan FKTP                            19132 non-null  int64
 27  Tgl Lahir Peserta                               19132 non-null  datetime64[ns]
 28  Hubungan Keluarga                               19132 non-null  int64
 29  Jenis Kelamin                                   19132 non-null  int64
 30  Status Kawin                                    19132 non-null  int64
 31  Kelas Rawat                                     19132 non-null  int64
 32  Segmentasi Peserta                              19132 non-null  int64
 33  Prov Tempat Tinggal Peserta                     19132 non-null  int64
 34  Kab/Kota Tempat Tinggal Peserta                 19132 non-null  int64
 35  Kepemilikan Faskes                              19132 non-null  int64
 36  Jenis Faskes                                    19132 non-null  int64
 37  Prov Fasilitas Kesehatan Peserta Terdaftar      19132 non-null  int64
 38  Kab/Kota Fasilitas Kesehatan Peserta Terdaftar  19132 non-null  int64
 39  Tahun Sampel                                    19132 non-null  int64
 40  Status Kepesertaan                              19132 non-null  int64
 41  Tahun Meninggal                                 552 non-null    float64
 42  Umur Peserta                                    19132 non-null  int64
 43  Kategori Umur                                   19132 non-null  int64
dtypes: datetime64[ns](3), float64(3), int64(34), object(4)
memory usage: 6.4+ MB

### SELECT VARIABLES

In [25]:
dataselected = data[['Jenis Kelamin', 'Kategori Umur', 'Status Pulang Peserta',
                   'Segmen Peserta FKTP', 'Kelas Rawat', 'Segmen ICD 10',
                   'Kab/Kota Tempat Tinggal Peserta', 'Tahun Meninggal']]
dataselected

,Jenis Kelamin,Kategori Umur,Status Pulang Peserta,Segmen Peserta FKTP,Kelas Rawat,Segmen ICD 10,Kab/Kota Tempat Tinggal Peserta,Tahun Meninggal
0,2,1,1,3,3,18.0,3508,NaN
1,2,1,1,3,3,12.0,3508,NaN
2,2,1,98,3,3,NaN,3508,NaN
3,1,3,1,5,2,18.0,3529,NaN
4,1,3,1,5,2,12.0,3529,NaN
...,...,...,...,...,...,...,...,...
19127,2,1,1,4,3,1.0,3510,NaN
19128,2,4,1,3,3,1.0,3578,NaN
19129,2,4,2,3,3,4.0,3578,NaN
19130,1,1,2,3,3,1.0,3526,NaN
19131,1,4,3,3,3,1.0,3527,NaN

### HANDLING MISSING VALUE

In [26]:
pd.isna(dataselected).sum()

Jenis Kelamin                          0
Kategori Umur                          0
Status Pulang Peserta                  0
Segmen Peserta FKTP                    0
Kelas Rawat                            0
Segmen ICD 10                       2452
Kab/Kota Tempat Tinggal Peserta        0
Tahun Meninggal                    18580
dtype: int64

In [27]:
# Fill 0 if Tahun Meinggal == null
dataselected['Tahun Meninggal'].fillna(0, inplace=True)

# Drop the rows that contain null values
dataselected.dropna(inplace=True)

# Drop the rows that Kelas Rawat is not 1, 2, or 3
dataselected = dataselected[dataselected['Kelas Rawat'] != 9]

# Drop the rows that Status Pulang Peserta is not 1, 2, or 3
for i in range(5,8):
    dataselected = dataselected[dataselected['Status Pulang Peserta'] != i]
    
# Drop rows that contain the died people
dataselected = dataselected[dataselected['Tahun Meninggal'] == 0]
dataselected = dataselected.astype({'Tahun Meninggal':int, 'Segmen ICD 10':int})
dataselected.reset_index(drop=True, inplace=True)

C:\Users\INES\AppData\Local\Temp\ipykernel_5680\864356390.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataselected['Tahun Meninggal'].fillna(0, inplace=True)
C:\Users\INES\AppData\Local\Temp\ipykernel_5680\864356390.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataselected.dropna(inplace=True)

In [28]:
dataselected = dataselected.iloc[:,0:7]
dataselected

,Jenis Kelamin,Kategori Umur,Status Pulang Peserta,Segmen Peserta FKTP,Kelas Rawat,Segmen ICD 10,Kab/Kota Tempat Tinggal Peserta
0,2,1,1,3,3,18,3508
1,2,1,1,3,3,12,3508
2,1,3,1,5,2,18,3529
3,1,3,1,5,2,12,3529
4,1,3,1,5,2,7,3529
...,...,...,...,...,...,...,...
16170,2,1,1,4,3,1,3510
16171,2,4,1,3,3,1,3578
16172,2,4,2,3,3,4,3578
16173,1,1,2,3,3,1,3526
16174,1,4,3,3,3,1,3527

### CONVERT TO CATEGORICAL DATA TYPE

In [29]:
datafix = dataselected.iloc[:,0:6]
col_names = list(datafix)
for col in col_names:
    datafix[col] = datafix[col].astype('category', copy=False)
datafix.describe()
datafix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16175 entries, 0 to 16174
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Jenis Kelamin          16175 non-null  category
 1   Kategori Umur          16175 non-null  category
 2   Status Pulang Peserta  16175 non-null  category
 3   Segmen Peserta FKTP    16175 non-null  category
 4   Kelas Rawat            16175 non-null  category
 5   Segmen ICD 10          16175 non-null  category
dtypes: category(6)
memory usage: 96.2 KB

### EXPORT THE PREPORCESSED DATA

In [30]:
# Export data preprocessed with Kabupaten/Kota attribute
# dataselected.to_excel('data_after_preprocessing_with_KabKot.xlsx', index=False)

# Export 6 attrributes data preprocessed to K-Modes clustering
# datafix.to_excel('data_after_preprocessing.xlsx', index=False)